
<div class="d-flex align-items-center justify-content-between welcome-content">
    <div class="top-header" style="background:#051c6f;">
        <div class="float-left p-3">
            <i class="fa fa-bars" aria-hidden="true" style="color:white !important;size:30px;"></i>
        </div>
        <div class="float-right pr-5">

            <img class="profile-img " src="../static/images/user/12.jpg"> <span class="admin_name"> Admin!</span>
        </div>
    </div>
</div>
{% extends 'layout.html' %} {% load static %} {% block title %}Modem{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<style>
    ul {
        margin: 0;
        padding: 0;
    }
    
    .simback {
        background: white;
        padding: 5px 0px;
    }
    
    .towerdiv a {
        padding: 0px 15px;
    }
    
    .out_btn {
        width: 170px;
    }
    
    .tower li {
        float: left;
        list-style: none;
        background: none;
        margin-right: 10px;
        padding: 0px 4px;
        margin: 10px 5px;
    }
    
    .tower li .towerdiv,
    .tower li .towerdiv1 {
        width: 68px;
        height: 68px;
        background: white;
        padding: 10px;
        color: white;
        position: relative;
    }
    
    .tower li .towerdiv i,
    .tower li .towerdiv1 i {
        float: right;
        color: black;
    }
    
    .header_h1 h3 {
        width: 100%;
        background: #5a9a97;
        color: white;
        padding: 5px 5px;
        margin-left: 10px;
        text-align: center;
    }
    
    .content-page {
        padding: 105px 15px 0;
        min-height: 100vh;
        transition: all .3s ease-in-out;
    }
    
    .fa-signal {
        font-size: 30px;
        color: orange;
        margin-top: 20px;
    }
    
    .content-page {
        margin-top: -50px;
    }
    
    input[type="number"] {
        width: 100px;
    }
    /* loader style end */
    
    .welcome-content a {
        margin-right: 15px;
        padding: 5px;
        width: 150px;
    }
    
    .sim1 {
        position: relative;
        width: 68px;
        height: 68px;
    }
    
    #indloadersim {
        position: absolute;
        left: 20%;
        top: 30%;
        z-index: 1;
        width: 20px;
        height: 20px;
        margin: 50px 0px 0px 0px;
        border: 4px dotted #8cbfb68c;
        border-radius: 50%;
        border-top: 4px dotted #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    #indloadersim1 {
        position: absolute;
        left: 20%;
        top: 30%;
        z-index: 1;
        width: 20px;
        height: 20px;
        margin: 50px 0px 0px 20px;
        border: 4px dotted #8cbfb68c;
        border-radius: 50%;
        border-top: 4px dotted #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* Add animation to "page content" */
    
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }
    
    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0px;
            opacity: 1
        }
    }
    
    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }
    
	 #loader1 
 {
  position: absolute;
  left: 20%;
  top: 50%;
  z-index: 1;
  width: 20px;
  height: 20px;
  background:white;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
</style>

<script>
	alert( $data_id = $_REQUEST['data_id']; );

</script>


<div class="card">

    <div class="row p-3 pl-5">
        <div class="col-lg-2">
            <h4> COM1 </h4>
            <i class="fa fa-signal" aria-hidden="true"></i>
        </div>
        <div style="margin-left:-30px;" class="col-lg-10 simback">
            {%for i in l1%}
            <ul class="tower">
                {%ifequal i "Ture"%}
                <li>
                    <div id="startcont" onclick="myFunctionsim()" class="towerdiv">
                        <br/>
                        <a class="btn btn-success" href="/outbox?file={{file}}&t={{t}}&limit1={{limit}}&sim={{ forloop.counter }}&n=1">sim{{forloop.counter}}</a>
                    </div>
                    <div id="loader" style="display:none">
                    </div>
                </li>
                {%else%}
                <li>
                    <div class="sim1">
                        <div id="startcontsim" onclick="myFunctionsim()" class="towerdiv">
                            <br/>
                            <a class="btn btn-danger" href="#">sim{{forloop.counter}}</a>
                        </div>
                        <!-- <div id="indloadersim" style=""></div>-->
                    </div>

                </li>
                {%endifequal%}
            </ul>
            {%endfor%}<br/>
           
            <br/> <br/><br/>
            <span style="color:black">Status:</span>
        </div>
    </div>
</div>

<br>

<div class="card">

    <div class="row p-3 pl-5">
        <div class="col-lg-2">
            <h4> COM2 </h4>
            <i class="fa fa-signal" aria-hidden="true"></i>
        </div>
        <div style="margin-left:-30px;" class="col-lg-10 simback">
            {%for i in l2%}
            <ul class="tower">
                {%ifequal i "True"%}
                <li>
                    <div class="sim1">
                        <div id="startcont1" onclick="myFunctionsim1()" class="towerdiv">
                            <br/>
                            <a class="btn btn-success " href="/outbox?file={{file}}&t={{t}}&limit1={{limit}}&sim={{ forloop.counter}}&n=2">sim{{forloop.counter}}</a>
                        </div>
                        <!-- <div id="indloadersim1" style=""></div>-->
                    </div>
                </li>
                {%else%}
                <li>
                    <div id="startcont" onclick="myFunction()" class="towerdiv">
                        <br/>
                        <a class="btn btn-danger" href="#">sim{{forloop.counter}}</a>
                    </div>
                </li>
                {%endifequal%}
            </ul>
            {%endfor%}
           
            <br/> <br/><br/><br/>
            <span style="color:black">Status: <p> </p></span>
        </div>
    </div>
</div>

<br>


<div class="card">

    <div class="row p-3 pl-5">
        <div class="col-lg-2">
            <h4> COM3 </h4>
            <i class="fa fa-signal" aria-hidden="true"></i>
            <div id="indloadersim" style="display:none"></div>
        </div>
        <div style="margin-left:-30px;" class="col-lg-10 simback">
            {%for i in l3%}
            <ul class="tower">
                {%ifequal i "True"%}
                <li>
                    <div id="startcont" onclick="myFunction()" class="towerdiv">
                        <br/>
                        <a class="btn btn-success " href="/outbox?sim={{forloop.counter}}&n=COM8">sim{{forloop.counter}}</a>
                    </div>
                </li>
                {%else%}
                <li>
                    <div id="startcont" onclick="myFunction()" class="towerdiv">
                        <br/>
                        <a class="btn btn-danger" href="#">sim{{forloop.counter}}</a>
                    </div>

                </li>
                {%endifequal%}

            </ul>

            {%endfor%}
            <br/> <br/><br/><br/>
            <span style="color:black">Status: <p id="dispvalue"> </p></span>
           
        </div>
    </div>
</div>

<br>

<div class="card">

    <div class="row p-3 pl-5">
        <div class="col-lg-2">
            <h4> COM4 </h4>
            <i class="fa fa-signal" aria-hidden="true"></i>
        </div>
        <div style="margin-left:-30px;" class="col-lg-10 simback">
            {%for i in l4%}
            <ul class="tower">
                {%ifequal i "True"%}
                <li>
                    <div id="startcont" onclick="myFunction()" class="towerdiv">
                        <br/>
                        <a class="btn btn-success " href="/outbox?sim={{ forloop.counter }}&n=COM8">sim{{forloop.counter}}</a>
                    </div>
                </li>
                {%else%}
                <li>
                    <div id="startcont" onclick="myFunction()" class="towerdiv">
                        <br/>
                        <a class="btn btn-danger" href="#">sim{{forloop.counter}}</a>
                    </div>
                </li>
                {%endifequal%}
            </ul>
            {%endfor%}
            <br/> <br/><br/><br/>
            <span style="color:black">Status: <p> </p></span>
           
        </div>
    </div>

</div>