<div class="d-flex align-items-center justify-content-between welcome-content">
    <div class="top-header" style="background:#051c6f;">
        <div class="float-left p-3">
            <i class="fa fa-bars" aria-hidden="true" style="color:white !important;size:30px;"></i>
        </div>
        <div class="float-right pr-5">

            <img class="profile-img " src="../static/images/user/12.jpg"> <span class="admin_name"> Admin!</span>
        </div>
    </div>
</div>
{% extends 'layout.html' %} {% load static %} {% block title %}Modem{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<style>
    .header_h1 h3 {
        width: 100%;
        background: green;
        color: white;
        padding: 5px 5px;
        margin-left: 10px;
        text-align: center;
    }
    
    .content-page button {
        border-radius: 1px;
    }
    
    .app_mag_bd {
        border: 1px solid lightgray;
        padding: 15px;
        margin-top: -50px;
    }
    
    button {
        background: #071533;
    }
    
    .card {
        background: white;
        border-radius: 1px;
        margin-bottom: 30px;
        box-shadow: 1px 2px 2px gray;
    }
</style>
<form method="POST" action="{% url 'manage' %}">
    {% csrf_token %}
<div class="content-page">
    <div class="container-fluid  app_mag_bd">
        <form method="POST" action="{% url 'manage' %}">
            {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 mb-3">
                <span> <p style="color:navy;">Home >> App Manager </p>  </span>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">

                            <h4 class="card-title">Basic Settings</h4>
                        </div>
                    </div>
                    <div class="card-body">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    
                                Enter the company name:
                                <input type="text" name="cname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    
                                Select the modem type:
                                <select name="types" style="width:50%">
                                    <option value="None">select</option>
                                    <option value="8x8">8x8</option>
                                    <option value="16x8">16x8</option>
                                    <option value="16x32">16x32</option>
                                    <option value="16x64">16x64</option>
                                </select>

                                </div>
                            </div>
                    </div>
                </div>

               
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Automated File Details</h4>
                        </div>
                    </div>
                    <div class="card-body">
                            <div class="col text-center">
                                <div class="form-group row ">
                                    <div class="checkbox d-inline-block mr-3">

                                        <label for="checkbox1">File Path:</label>
                                        <input style="float:right" type="file" name="path">
                                        <input class="btn btn-danger set_avoid" type="submit" name="set_path" value="Set Auto Path" style="border-radius:1px">
                                    </div>

                                </div>
                            </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
        
                            <div class="col text-center">
                                <div class="form-group row ">
                                    <div class="checkbox d-inline-block mr-3">
                                        <button class="btn btn-success" name="save" value="save" onclick="myFunction1()">save</button>
                                    </div>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Modem Settings</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-danger fmodem" data-toggle="modal" data-target="#ussd">USSD Command</button>
                        <button type="submit" id="m_reset" class="btn btn-success fmodem">Modem Reset</button>
                    </div>
                </div>
               
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Application Service</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        
                            <div class="col text-center">
                                <div class="form-group row ">
                                    <div class="checkbox d-inline-block mr-3">

                                        <label for="checkbox1">Incoming Call: </label>
                                        <input class="incall" type="checkbox" name="incall" value="ON"> ON

                                        <input class="incall" type="checkbox" name="incall" value="OFF"> OFF
                                        <input class="btn btn-success incall" type="submit" name="incall" value="Set Auto Path" style="border-radius:1px">
                                    </div>

                                </div>
                            </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Permission</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        
                            <div class="row">

                                <div class="col-lg-7">
                                    <div class="col text-right">
                                        <label>Outgoing SMS Service </label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <input type="radio" name="outsms" value="yes"> Yes
                                    <input type="radio" name="outsms" value="no"> No
                                </div>

                                <div class="col-lg-7">
                                    <div class="col text-right">
                                        <label>Incoming SMS Service </label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <input type="radio" name="insms" value="yes"> Yes
                                    <input type="radio" name="insms" value="no"> No
                                </div>

                                <div class="col-lg-7">
                                    <div class="col text-right">
                                        <label>Incoming SMS Mail Service </label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <input type="radio" name="inmailsms" value="yes"> Yes
                                    <input type="radio" name="inmailsms" value="no"> No
                                </div>

                                <div class="col-lg-7">
                                    <div class="col text-right">
                                        <label>Incoming SMS Default Mail Service </label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <input type="radio" name="inmaildefsms" value="yes"> Yes
                                    <input type="radio" name="inmaildefsms" value="no"> No
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="col text-right">
                                        <label>Voice Call Service </label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <input type="radio" name="voice_call" value="yes"> Yes
                                    <input type="radio" name="voice_call" value="no"> No
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="col text-right">
                                        <label>Incoming Voice Call Service</label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <input type="radio" name="invoice" value="yes"> Yes
                                    <input type="radio" name="invoice" value="no"> No
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="col text-right">
                                        <label>Voice Call Service </label>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <input type="radio" name="voice_call" value="yes"> Yes
                                    <input type="radio" name="voice_call" value="no"> No
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ussd">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Run USSD Command</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                      
                            <div class="row">
                                <div class="col-lg-1 mb-3">
                                    <label>Port:</label>
                                </div>
                                <div class="col-lg-11 mb-3">
                                    <textarea class="form-control" id="horizontalTextarea" rows="2"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-1 mb-3">
                                    <label>Action</label>
                                </div>
                                <div class="col-lg-11 mb-3">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="radio d-inline-block mr-2">
                                                <input type="radio" name="bsradio" id="radio1" checked="">
                                                <label for="radio1">Active</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <label>Command:</label>
                                                </div>
                                                <div class="col-lg-10">

                                                    <div class="input-group mb-4">

                                                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 my_btn">
                                            <button type="submit" class="btn btn-primary">Execute</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-9">
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col"> </th>
                                                        <th scope="col">portName</th>
                                                        <th scope="col">simStatus</th>
                                                        <th scope="col">simNetwork</th>
                                                        <th scope="col">ismiNumber</th>
                                                        <th scope="col">MobileNo</th>
                                                        <th scope="col">response</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row"></th>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-lg-3 my_btn">
                                            <textarea class="form-control" id="horizontalTextarea" rows="7" cols="5" placeholder="Textarea"></textarea>
                                            <button type="submit" class="btn btn-primary set_avoid">Update</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    
                    </div>
                </div>
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>
</form>
<script>
    function myFunction1() {
        Swal.fire(
            'Your settings',
            'are changed',
            'success'
        )
    }
</script>
{%endblock%}