<div class="d-flex align-items-center justify-content-between welcome-content">
    <div class="top-header" style="background:#051c6f;">
        <div class="float-left p-3">
            <i class="fa fa-bars" aria-hidden="true" style="color:white !important;size:30px;"></i>
        </div>
        <div class="float-right pr-5">

            <img class="profile-img " src="../static/images/user/12.jpg"> <span class="admin_name"> Admin!</span>
        </div>
    </div>
</div>
{% extends 'layout.html' %} {% load static %} {% block title %}Modem{% endblock %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<style type="text/css">
    .user_add {
        font-size: 15px;
    }
    
    .reserbtn {
        margin-left: 10px;
    }
    
    .header_h1 h3 {
        width: 100%;
        color: white;
        padding: 5px 5px;
        margin-left: 10px;
        text-align: center;
    }
   
        table
        {
            width: 100%;
            font: 17px Calibri;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
   
</style>



<div class="content-page">
    <div class="container-fluid">

        <div class="card">
            <div class="header-title ">
                <div class="row">
               <div class="col-lg-4">
                <h5 class="card-title pt-3 pl-3">Details of SMS sent Status</h5>
             </div>
             <div class="col-lg-8 mt-3">
                <div class="row">
                    <div class="col-lg-4">
                    Total SMS:{{i}}
                    </div>
                    <div class="col-lg-4">
                    Success SMS:{{j}}
                    </div>
                    <div class="col-lg-4">
                        Failed SMS:{{k}}
                    </div>
                </div>
             </div>
                 </div>
                
            </div>
            <div class="card-body">

                <form method="post" action="{% url 'report' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group row margin2">
                                <label class="control-label  align-self-center" for="Date">Date:</label>

                                <input type="date" name="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row margin2">
                                <label class="control-label  align-self-center" for="Select Status">Select Status:</label>
                                <select class="form-control" name="status">
                                    <option value="">--Select--</option>
                                    <option value="success">Success</option>
                                    <option value="fail">Failed</option>
                                 </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row margin2">
                                File Name:<input type="text" name="finame">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" onclick="myFunction1();" class="btn btn-warning set_avoid" name="get_report" style="border-radius:1px">GET Report</button>
                        </div>
               </form>
               <div class="col-sm-2">
                            <button  value="Create PDF" 
            id="btPrint" onclick="createPDF()" type="submit" class="btn btn-danger set_avoid" name="download" style="border-radius:1px">Download</button>
                        </div>
                    </div>
                <div class="card" id="invoice">
                <div id="exportTable" class="table table-responsive">
                    <table  class="table table-striped table-bordered table-hover mt-4">
                        
                            <tr>

                                <th scope="col">To</th>
                                <th scope="col">Message Content</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>

                            </tr>
                        
                      
                            {%for i in get%}
                            <tr>
                                <td> {{i.num}}</td>
                                <td>{{i.msg}}</td>
                                <td>{{i.date}}</td>
                                <td>{{i.status}}</td>
                            </tr>
                            {%endfor%}

                       
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function createPDF() {
        var sTable = document.getElementById('exportTable').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;border:1px solid gray}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

       
        var win = window.open('', '', 'height=700,width=1000');

        win.document.write('<html><head>');
        win.document.write('<title>Profile</title>'); 
        win.document.write(style);          
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);        
        win.document.write('</body></html>');

        win.document.close(); 

        win.print();   
    }
   
    

    function myFunction1() {
        Swal.fire(
            'Get Report',
            'Successfully!',
            'success'
        )
    } 

</script>



{%endblock%}